*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
} 
body {
  background: url('../Imagenes/lector.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
.formulario {
  background: rgb(255, 255, 255, 0,2);
  margin-top: 15px;
  padding: 1px;
}

       h1 {
      text-align: center;
      color: #1a2537;
      font-size: 40px;
    }

.contenedor {
  width: 100%;
  padding: 20px;
  margin-top: 90px;
  text-align: center;
}

.input-contenedor {
  margin-bottom: 13px;
  margin-left: 20px;
  font-size: 30px;
  width: 85%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5%;
  text-align: center;
}

      .formu {
        height: 30px;
        width: 210px;
        border-radius: 12px;
      }
      .icon {
        min-width: 50px;
        text-align: center;
        color: #999;
      }

.button {
  border: none;
  width: 30%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 10px;
  border-radius: 15%;
  cursor: pointer;
}
      .button:hover {
        background: rgb(167, 204, 206);
      }
        p {
          padding: 20px;
          text-align: center;
          font-size: 1.5em;
        }
            .link {
              color: #1a2537;
              font-weight: 600;
            }
.link:hover {
  color: rgb(221, 238, 238);
}
@media (min-width:768px)
{
  .formulario{
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
}
/*menu*/

