*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background-color:#EFFFFC; 
    
      
}

        .exit {
            display: flex;
            height: 70px;
            width: auto;
            background-color: rgb(72, 114, 231);
            
        }

        .nombre-empresa {
            color: white;
            height: 70px;
            width: 800px;
            font-size: 2em;
            padding-inline-start: 12px;
            margin-left: 8px;
            margin-top: 12px;
        }

        .exi {
           width: 40px;
           margin-top: 8px;
           margin-left: 500px;
        }

nav {
    display: flex;
    padding: 2px;
}

    .hora {
        display: flex;
        align-items: center;
    }
       .hora h3 {
        margin-left: 20px;
       }

    .fecha {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }

        .fecha input {
            margin-left: 12px;
            height: 20px;
            width: 100px;
        }

    .venta {
       
        height: 30px;
        width: 200px;
        background-color: gray;
        border-radius: 12px;
        display: flex;
        align-items: center;
        margin-left: 30px;
        
    }
        .venta h6 {
            margin-left: 15px;
            font-size: 1em;
        }
        
    .perfil {
        height: 30px;
        width: 180px;
        background-color: gray;
        border-radius: 12px;
        display: flex;
        align-items: center;
        margin-left: 40px;
    }
        .perfil h6 {
            margin-left: 15px;
            font-size: 1em;
        }
        .alea {
            margin-left: 40px;
        }

    .adm {
        display: flex;
        align-items: center;
        width: 390px;
        margin-left: 120px;
        font-size: 1em;
        border: 1px black solid;
        border-radius: 10px;
    }

    .nombres {
        margin-left: 15px;
        color: rgb(73, 69, 69);
    }

    img {
        width: 30px;
    }
        .alea {
            width: 20px;
        }

.alerta {
    display: flex;
    padding: 9px;
}
    .alert {
        display: flex;
        align-items: center;
    }
    .aler {
        width: 40px;
        margin-left: 20px;
    }
        .alert h3 {
            margin-left: 15px;
            font-size: 1.3em;
        }
    .search {
        display: flex;
        align-items: center;
    }
        .search {
            margin-left: 200px;
            font-size: 1.3em;
        }
        .search input {
            height: 30px;
            margin-left: 4px;
        }

.fecha-actual {
    display: flex;
    padding: 8px;
}
    .actual {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        height: 30px;
        width: 250px;
        background-color: rgb(184, 180, 180);
        border: 1px black solid;
        font-size: 1.1em;
    }

.ven {
    float: left;
    /*background-color: bisque;*/
    width: 890px;
    height: 450px;
}

.vencimientos1 {
    float: left;
    background-color: bisque;
    width: 888px;
}

    table , tr , th {
        padding: 5px;
        margin-top: 5px;
        margin-left: 5px;
        width: 980px;
        text-align: center;
        border: 1px black solid;
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
        td {
            background-color: rgb(225, 225, 216);
        }
            .vencido {
                color: red;
            }
            .menos {
                color: red;
            }

aside {
    float: left;
    margin-left: 100px;
    /*background-color: bisque;*/
    width: 400px;
    height: 450px;
}
.calendar {
    background: #4e50cd;
    text-align: center;
    width: 80%;
    max-width: 600px;
    height: 280px;
    margin-top: 9px;
    border-radius: 10px;
    border: 1px black solid;
    margin:  1em auto;
    padding: .5em 0;
}

    .cale_info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding:  0 2em;
        text-transform: uppercase;
        margin-left: 45px;
    }
        .calendario_prev, .calendario_next {
            color: bisque;
            cursor: pointer;
        }

        .calendario_prev {
            margin-right: auto;
        }
        .calendario_next {
            margin-left: auto;
        }

        .calendario_week, .calendar_dates {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 10px;
        }

        .calendario_month, .calendario_year {
            padding: .5em 1em;
            color: bisque;
        }
        .calendar_item {
            text-align: center;
            line-height: 2;
            color: bisque;
        }
        .Calendar_day {
            background: rgb(9, 206, 173);
            color: white;
            border-radius: 50px;
            margin: auto;
        }
        .calendar_last-days {
            opacity: .3;
        }
       
    
  

.actualizar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 90px;
    background-color: grey;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    border: 1px black solid;
    cursor: pointer;
}

.descargar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    margin-top: 70px;
    margin-left: 90px;
    text-align: center;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    border: 1px black solid;
    cursor: pointer;
}

